Presentacion/Connected Services/wsMenuDia/WcfMenuDia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.restauranteservices.somee.com/WcfMenuDia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="GuardarMenuDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="menuDia" nillable="true" type="q1:MenuDiaEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarMenuDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="GuardarMenuDiaResult" nillable="true" type="q2:MenuDiaEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaMenuDia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaMenuDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaMenuDiaResult" nillable="true" type="q3:ArrayOfMenuDiaEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaMenuDiaJoin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaMenuDiaJoinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaMenuDiaJoinResult" nillable="true" type="q4:ArrayOfMenuDiaJoin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverMenuDiaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverMenuDiaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverMenuDiaPorIdResult" nillable="true" type="q5:MenuDiaEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMenuDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMenuDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarMenuDiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverMenuDiaPorFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverMenuDiaPorFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverMenuDiaPorFechaResult" nillable="true" type="q6:ArrayOfMenuDiaEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarSopa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="sopaDia" nillable="true" type="q7:SopasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarSopaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="GuardarSopaResult" nillable="true" type="q8:SopasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaSopas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaSopasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaSopasResult" nillable="true" type="q9:ArrayOfSopasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverSopasPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverSopasPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverSopasPorIdResult" nillable="true" type="q10:SopasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSopa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSopaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarSopaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverIngredientesSopasPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverIngredientesSopasPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverIngredientesSopasPorIdResult" nillable="true" type="q11:SopasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarSegundo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="segundo" nillable="true" type="q12:SegundosEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarSegundoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="GuardarSegundoResult" nillable="true" type="q13:SegundosEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaSegundos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaSegundosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaSegundosResult" nillable="true" type="q14:ArrayOfSegundosEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverSegundosPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverSegundosPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverSegundosPorIdResult" nillable="true" type="q15:SegundosEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSegundo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSegundoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarSegundoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverIngredientesSegundoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverIngredientesSegundoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverIngredientesSegundoPorIdResult" nillable="true" type="q16:SegundosEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarBebida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="bebidas" nillable="true" type="q17:BebidasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarBebidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="GuardarBebidaResult" nillable="true" type="q18:BebidasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaBebidas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaBebidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaBebidasResult" nillable="true" type="q19:ArrayOfBebidasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverBebidasPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverBebidasPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverBebidasPorIdResult" nillable="true" type="q20:BebidasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarBebida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarBebidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarBebidaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverIngredientesBebidaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverIngredientesBebidaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverIngredientesBebidaPorIdResult" nillable="true" type="q21:BebidasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="entrada" nillable="true" type="q22:EntradasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="GuardarEntradaResult" nillable="true" type="q23:EntradasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaEntrada">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverListaEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverListaEntradaResult" nillable="true" type="q24:ArrayOfEntradasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverEntradasPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverEntradasPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverEntradasPorIdResult" nillable="true" type="q25:EntradasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarEntradaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverIngredientesEntradaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverIngredientesEntradaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DevolverIngredientesEntradaPorIdResult" nillable="true" type="q26:EntradasEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pedido" nillable="true" type="q27:PedidosEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="GuardarPedidoResult" nillable="true" type="q28:PedidosEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>